<div class="container">
    <h4 class="text-secondary mb-2">Application Form</h4>
    <form action="POST">
        <label for="name">Full Name</label><br>
        <input type="text" name="full_name" id="name" placeholder="Enter Full Name" class="mb-2"><br>
        
        <label for="email">E - Mail</label><br>
        <input type="text" name="email" placeholder="hilarychizi@gmail.com.com" id="email" class="mb-2"><br>
        <label for="linkedIn">LinkedIn URL</label><br>
        <input type="text" name="linkedIn" placeholder="https://linked.in/hilarychizi" id="linkedIn" class="mb-2"><br>
    </form>
</div>