<nav class="navbar shadow-sm fixed-top bg-white ms-2 row height-5">
    <div class="container=fluid">
        <a class="navbar-brand" href="#">
            <img src="static/bootstrap-logo.svg" alt=""
            width="20" height="24" >
            Ekwe
        </a>
        <ul class="nav justify-content-end">
            <li  class="nav-item"><a href="#top" class="nav-link px-2 text-body-secondary">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Pricing</a></li>
        </ul>
        </div>
    </div>
</nav>
<div style="height: 10px;"></div>