<nav class="navbar shadow-sm fixed-top bg-white p-3 height-5 row">
    <div class="container=fluid col">
        <a class="navbar-brand" href="/">
            <img src="{{url_for('static',filename='bootstrap-logo.svg')}}" alt="logo"
            width="20" height="24" >
            Ekwe
        </a>
        <ul class="nav justify-content-end col mt-0">
            <li  class="nav-item"><a href="#top" class="nav-link px-2 text-body-secondary">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Vacancies</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Latest Job Alerts</a></li>
            <li class="nav-item"><a href="mailto:hilarychi@gmail.com?subject:Enquiries" class="nav-link px-2 text-body-secondary">Contact Us</a></li>
        </ul>
        </div>
    </div>
</nav>
<div style="height: 10px;" class="m-2"></div>
